@font-face {
    font-family: 'Benzin-ExtraBold';
    src: url(./../meida/font/benzin-extrabold.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    list-style: none;
}

.cen {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background: black;
}

.name {
    font-family: 'Benzin-ExtraBold';
    font-size: 44px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px white;
    width: fit-content;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    opacity:  .6;
    position: relative !important;
    z-index: 123 !important;
    transition: all .8s ease;
    &.active {
        opacity: 1;
        cursor: pointer;
        -webkit-text-fill-color: white;
        & span {
            font-size: 18px;
            line-height: 130%;
            -webkit-text-fill-color: white;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            transition: all .8s ease;
            letter-spacing: -0.02em;
            
        }
    }
    & span {
        font-size: 18px;
        line-height: 130%;
        -webkit-text-fill-color: white;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        margin-top: 11px;
        margin-left: 12px;
        letter-spacing: -0.02em;
        
    }
}

.container {
    width: calc(100vw - 120px);
    height: 100%;
}

.swiper-slide{
    overflow: hidden;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}


.bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    transform: translateY(50vh);
    transition: all .8s ease;
    scale: 1.1;
}

.slider1 {
    height: 100vh;
}

.slides-bottom {
    position: relative;
}
.slides-top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    & .container {
        height: 100px;
        & a {
            position: absolute;
            height:100% ; width:100%;
        }
    }
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.swiper-slide-active {
    & .bg {
        transform: translateY(0);
        scale: 1;
    }
    & .names {
        transform: translateY(0);
    }
}

.swiper-slide-next {
    & .bg {
        transform: translateY(-50vh);
    }
    & .names {
        transform: translateY(-100vh);

    }
}

.names {
    display: flex;
    flex-direction: column;
    transform: translateY(100vh);
    transition: all .8s ease;
}


.containerSlides {
    position: absolute;
    top: 59px;
    height: calc(100vh - 59px);
    width: calc(100vw - 120px) ;
    margin: 0 60px;
}


.slider-name, .slider-name-color {
    position: absolute !important;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0 50px;
    box-sizing: border-box;
    max-width: 1480px;
    height: 540px;
    bottom: 0;
    pointer-events: none;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
    & .swiper-slide {
        align-items: flex-start;
    }
    & .swiper-slide-active {
        & .name {
            font-size: 54px;
            & span {
                font-size: 21px;
                letter-spacing: -0.02em;
            }
        }
    }
}

.slider-name-color {
    padding-top: 50px;
    height: 73px;
    margin: 0;
    transform: translateY(-69%);
    & .name {
        opacity: 1;
        -webkit-text-fill-color: white;
    }
    & .swiper-slide-active {
        & .name {
    -webkit-text-stroke: 0px white;
        }
    }
}

.name-wraper {
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.name-slide {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0;
    background: transparent;
    box-sizing: border-box;
    text-align: left;
    opacity: 1;
    bottom: 0;
}

.swiper-slide {
    & .name {
        &:hover {
            cursor: pointer;

        }
    }
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    transition: all .4s ease;
    transform: translateY(-100%);
    &.active {
        transform: translateY(0);
    }
    & .container {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    & ul {
        display: flex;
    }
    & li {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 135%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        margin-right: 58px;
        &:last-child {
            margin-right: 0;
        }
    }
}

li {
    &.active {
        & a {
            color: #D9FF42;
        }
    }
}

.logo{
    height: 23px;
    margin-right: 148px;
    & img {
        height: 100%;
    }
}

.nameop {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 100px;
    width: 50%;
    opacity: 0;
}

.mob {
    display: none;
}

// страница проектов

.grid-container__wrapper {
    margin-bottom: 3px;
    width: 100%;
    grid-gap: 3px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-height: 0;
    transition: all 1s ease;
    overflow: hidden;
    &.active {
        max-height: 2000px;
    }
}

.nameS {
    & h1 {
        font-family: 'Benzin-ExtraBold';
        font-size: 54px;
        line-height: 140%;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 96px;
        margin-top: 108px;
    }
}

.project {
    overflow: hidden;
    position: relative;
    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: all .4s ease;
    }
    &:first-child {
        grid-column: span 2;
        grid-row: span 2;
    }
    &:nth-child(8) {
        grid-column: span 2;
        grid-row: span 2;
    }
    &:hover {
        & img {
            scale: 1.1;
        }
        & .product__hover {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: #D9FF42;
            opacity: .2;
        }
        & .nameprod {
            opacity: 1;
        }
    }
    & .nameprod {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all .4s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        & a {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 135%;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            &:last-child {
                font-size: 20px;

            }
        }
    }
    & .product__hover {
        transition: all .4s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #333333;
        opacity: 0;
    }
}

.topText {
    position: absolute;
    z-index: 3;
    top: 190px;
    width: 100vw;
    & h1 {
        font-family: 'Benzin-ExtraBold';
        font-size: 54px;
        line-height: 140%;
        letter-spacing: 0.08em;
        margin-bottom: 34px;
        text-transform: uppercase;
    }
    & h3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 130%;
        letter-spacing: -0.02em;
        margin-bottom: 13px;
    }
    & li {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 170%;
        letter-spacing: -0.02em;
        margin-bottom: .5em;
    }
}

.topSwiper__slide {
    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}


.topSwiper {
    height: 83vh;
    margin-bottom: 3px;
}

.plus {
    height: 20px;
    width: 20px;
}

.btnNextBlock {
    display: flex;
    align-items: center;
    margin-top: 98px;
    margin-bottom: 207px;
    & p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        letter-spacing: -0.02em;
        
        color: #FFFFFF;
    }
    & img {
        margin-right: 30px;
    }
}

footer {
    & .container {
        flex-direction: row;
        justify-content: space-between;
    }
    & a {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 135%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #444444;
        margin-bottom: 36px;
        margin-right: 59px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.projectTop {
    height: 83vh;
    overflow: hidden;
    & .bg {
        height: 100%;
        width: 100%;
        top: 50%;
        left: 50%;
        object-fit: cover;
        transform: translate(-50%, -50%);
        opacity: .6;
    }
    & h1 {
        font-family: 'Benzin-ExtraBold';
        font-size: 54px;
        line-height: 140%;
        letter-spacing: 0.08em;
        text-transform: uppercase;
    }
    & p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 130%;
        letter-spacing: -0.02em;
    }
}

.progectGrid {
    margin-top: 3px;
    margin-bottom: 215px;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(2, 1fr);

}

.project__item {
    position: relative;
    height: 449px;
    & img {
        opacity: .9;
        height: 100%;
        width: 100%;
        object-fit: cover;

    }
}

.bgHeref {
    opacity: 0;
    transition: all .4s ease;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: block;
    background: #D9FF42;
    &:hover {
        opacity: .4;
    }
    & .play {
        position: absolute;
        z-index: 12;
    }
}
main {
    width: 100vw;
    overflow-x: hidden;
}

.nameab {

        font-family: 'Benzin-ExtraBold';
        font-size: 54px;
        line-height: 140%;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        margin-bottom: 74px;
}

.descab {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: -0.02em;
    margin-bottom: 93px;
    width: 932px;

}

.aboutTop {
    margin-bottom: 204px;
    margin-top: 191px;
}

.aboutTop__flex {
    display: flex;
    & p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 135%;
        letter-spacing: -0.02em;
        width: 607px;
        color: #444444;
        margin-right: 50px;
        
    }
}

.aboutDeals__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item__name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 135%;
    letter-spacing: -0.02em;
    & span {
        margin-right: 17px;
    }
}

.aboutDeals__flex__item {
    margin-right: 130px;
    margin-bottom: 52px;
    width: fit-content;
    & ul {
        margin-top: 22px;
    }
    & li {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 170%;
        letter-spacing: -0.02em;
        color: #444444;

    }
}

.aboutAwards {
    margin-bottom: 107px;
}

.awards__flex {
    display: flex;
    position: relative;
    height: 50px;
    width: 100%;
    border-top: 1px solid #333333;
    padding-top:32px;
    margin-bottom: 55px;

}

.awards__flex__item {
    position: absolute;
    left: 654px;
    & p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 135%;
        letter-spacing: -0.02em;
        position: relative;
    }
    &:first-child {
        left: 0px;
        & p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 130%;
        }
    }
    &:last-child {
        left: 1134px;
        & p {
            font-style: normal;
            font-size: 17px;
            color: #444444;
        }
    }
}

.video {
    width: 100vw;
    position: relative;
    height: 100vh;
    & video {
        width: 100%;
        height: 100%;
    }
}

//видео плеер 

.video-js .vjs-big-play-button {
    width: 100%;
    height: 100%;
    border: none;
    background: black;
    opacity: .6;
    top: 0;
    left: 0;

}

.video-js:hover .vjs-big-play-button, .video-js .vjs-big-play-button:focus {
    width: 100%;
    height: 100%;
    border: none;
    background: black;
    opacity: .6;
    top: 0;
    left: 0;

}


.vjs-icon-play:before, .video-js .vjs-play-control .vjs-icon-placeholder:before, .video-js .vjs-big-play-button .vjs-icon-placeholder::before {
    content: url(./../meida/video/pleer/ppay.svg);
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .4s ease;
}

.vjs-icon-pause:before, .video-js .vjs-play-control.vjs-playing .vjs-icon-placeholder:before {
    content: '';
}

.video-js[tabindex="-1"] {
    width: 100%;
    height: 100%;
}

.video-js .vjs-play-control {
    background: #44444481;
    position: absolute;
    bottom: 0;
    height: 100vh;
    width: 100vw;

}

.vjs-play-control {
    &.vjs-playing {
        background: none;

    }
}

.video-js .vjs-volume-level {
    background:#D9FF42;
}

.vjs-slider-horizontal .vjs-volume-level:before, .video-js .vjs-play-progress:before {
    color:#D9FF42;

}

.video-js .vjs-play-progress {
    background:#D9FF42;
}


.video-js .vjs-mute-control:hover {
    & .vjs-icon-placeholder:before {
        color:#D9FF42;
    }
}
.video-js .vjs-volume-panel.vjs-volume-panel-horizontal.vjs-hover {
    &::before {

    }
}

.video-js .vjs-progress-control {
    position: absolute;
    width: 100vw;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
}

.video-js .vjs-picture-in-picture-control {
    display: none;
}

.videoslider {
    height: auto;
}

.video-js .vjs-volume-panel {
    position: absolute;
    bottom: 35px;
    right: 30px;

}
.video-js .vjs-fullscreen-control {
    position: absolute;
    bottom: 35px;
    right: 0px;
}

.videoslider {
    & .swiper-slide-active {
        position: relative;
        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 102%;
            height: 102%;
            border: 1px #D9FF42 solid;
            top: -1%;
            left: -1%;
        }
    }
}

.videoWraper {
    padding: 66px 0;
}

.videobg {
    height: 125px;
}

.swiper-button-next, .swiper-button-prev {
    color: white !important;
}


.vjs-has-started .vjs-control-bar, .vjs-audio-only-mode .vjs-control-bar {
    background: none;
}

.closeBtn {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 60px;
    right: 60px;
    cursor: pointer;

}

@media (max-width: 1599px) {
    
    .container {
        width: calc(100vw - 120px);
    }
    header {
        & .container {
            justify-content: space-between;
        }
    }
    .logo {
        margin: 0;
    }
    .bg {
        left: 50%;
        transform: translate(-50%, 50%);
        top: 50%;
    }
    .swiper-slide-active .bg {
        transform: translate(-50%, -50%);

    }
    .swiper-slide-next .bg {
        transform: translate(-50%, -150%);

    }

    .project__item {
        height: 279px;
    }
    
.videobg {
    height: 77px;
}

}

@media (max-width: 999px) {

    .bg {
        scale: 1;
        height: 100%;
    }
    .containerSlides {
        width: 90%;
        margin-left: 5%;
    }
    .notMob {
        display: none !important;
    }
    body {
        overflow-x: hidden;
    }
    .mob {
        display: block;
    }
    .container {
        width: 90%;
    }
    .logo {
        height: 18px;
        margin: 0;
        z-index: 102;
    }
    .mob__menu {
        height: 7px;
        width: 40px;
        position: relative;
        transition: all .4s ease;
        z-index: 102;
        &::after {
            content: '';
            display: block;
            width: 40px;
            height: 2px;
            background: white;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .4s ease;
        }
        &::before {
            content: '';
            display: block;
            width: 40px;
            height: 2px;
            background: white;
            position: absolute;
            top: 7px;
            left: 0;
            transition: all .4s ease;
        }
        &.active {
            &::after {
                transform: rotate(45deg);
            }
            &::before {
                top: 0;
                transform: rotate(-45deg);
            }
        }

    }
    .header__henu {
        position: absolute;
        top: 0px;
        left: 0px;
        transition: all .8s ease;
        transform: translateY(-100vh);
        z-index: 10;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        & .blockAnim {
            position: absolute;
            top: 0;
            right: 0;
            background: black;
            transition: all 2s ease;
            opacity: .9;
            width: 1px;
            height: 1px;
            border-radius: 50%;
            transform: translate(50%, -50%);
        }
        &.active {
            transform: translateX(00vh);
            & .blockAnim {
                width: 300vh;
                height: 300vh;
            }
            & ul {
                opacity: 1;
            }
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & ul {
            position: relative;
            transition: opacity .9s ease;
            transition-delay: .7s;
            z-index: 3;
            opacity: 0;
        }
        & li {
            font-family: 'Benzin-ExtraBold';
            font-size: 22px;
            line-height: 140%;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 20px;
            text-align: center;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    header {
        z-index: 99;
    }

    .name {
        font-size: 22px;
    }
    .slider-name .swiper-slide-active .name, .slider-name-color .swiper-slide-active .name {
        font-size: 29px;
    }
    .slider-name-color {
        transform: translateY(-69%);
    }

    .grid-container__wrapper {
        grid-template-columns: repeat(2, 1fr);
        & .project {
            height: calc(100vw/16 * 9);
            &:first-child {
                grid-column: span 1;
                grid-row: span 1;
            }
            &:nth-child(8) {
                grid-column: span 1;
                grid-row: span 1;
            }
        }
    }
    .topText  {
        top: 170px;
        & h1 {
            font-size: 29px;
        }
        & h3 {
            font-size: 17px;
        }
        & li {
            font-size: 13px;
        }
    }
    .topSwiper {
        & .swiper-slide {
            & img {

            }
        }
    }

    .project__item {
        height: 178px;
    }
    footer {
        margin-bottom: 36px;
        & a {
            margin-right: 35px;
        }
    }

    
.videobg {
    height: 68px;
}

}

@media (max-width: 639px) {
    .grid-container__wrapper{
        grid-template-columns: 1fr;
    }
    .slider-name-color {
        transform: translateY(-68%);
    }
    .progectGrid {
        grid-template-columns: 1fr;
    }
    .videobg {
        height: 63px;
    }
    .swiper-button-next, .swiper-button-prev {
        font-size: 12px;
    }
    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after, .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
        font-size: 27px !important;
    }
}