@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");
@font-face {
  font-family: "Benzin-ExtraBold";
  src: url(./../meida/font/benzin-extrabold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  list-style: none;
}

.cen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background: black;
}

.name {
  font-family: "Benzin-ExtraBold";
  font-size: 44px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  opacity: 0.6;
  position: relative !important;
  z-index: 123 !important;
  transition: all 0.8s ease;
}
.name.active {
  opacity: 1;
  cursor: pointer;
  -webkit-text-fill-color: white;
}
.name.active span {
  font-size: 18px;
  line-height: 130%;
  -webkit-text-fill-color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  transition: all 0.8s ease;
  letter-spacing: -0.02em;
}
.name span {
  font-size: 18px;
  line-height: 130%;
  -webkit-text-fill-color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  margin-top: 11px;
  margin-left: 12px;
  letter-spacing: -0.02em;
}

.container {
  width: calc(100vw - 120px);
  height: 100%;
}

.swiper-slide {
  overflow: hidden;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  transform: translateY(50vh);
  transition: all 0.8s ease;
  scale: 1.1;
}

.slider1 {
  height: 100vh;
}

.slides-bottom {
  position: relative;
}

.slides-top {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 12;
}
.slides-top .container {
  height: 100px;
}
.slides-top .container a {
  position: absolute;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.swiper-slide-active .bg {
  transform: translateY(0);
  scale: 1;
}
.swiper-slide-active .names {
  transform: translateY(0);
}

.swiper-slide-next .bg {
  transform: translateY(-50vh);
}
.swiper-slide-next .names {
  transform: translateY(-100vh);
}

.names {
  display: flex;
  flex-direction: column;
  transform: translateY(100vh);
  transition: all 0.8s ease;
}

.containerSlides {
  position: absolute;
  top: 59px;
  height: calc(100vh - 59px);
  width: calc(100vw - 120px);
  margin: 0 60px;
}

.slider-name, .slider-name-color {
  position: absolute !important;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0 50px;
  box-sizing: border-box;
  max-width: 1480px;
  height: 540px;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);
}
.slider-name .swiper-slide, .slider-name-color .swiper-slide {
  align-items: flex-start;
}
.slider-name .swiper-slide-active .name, .slider-name-color .swiper-slide-active .name {
  font-size: 54px;
}
.slider-name .swiper-slide-active .name span, .slider-name-color .swiper-slide-active .name span {
  font-size: 21px;
  letter-spacing: -0.02em;
}

.slider-name-color {
  padding-top: 50px;
  height: 73px;
  margin: 0;
  transform: translateY(-69%);
}
.slider-name-color .name {
  opacity: 1;
  -webkit-text-fill-color: white;
}
.slider-name-color .swiper-slide-active .name {
  -webkit-text-stroke: 0px white;
}

.name-wraper {
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.name-slide {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0;
  background: transparent;
  box-sizing: border-box;
  text-align: left;
  opacity: 1;
  bottom: 0;
}

.swiper-slide .name:hover {
  cursor: pointer;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
header .container {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
header ul {
  display: flex;
}
header li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-right: 58px;
}
header li:last-child {
  margin-right: 0;
}

li.active a {
  color: #D9FF42;
}

.logo {
  height: 23px;
  margin-right: 148px;
}
.logo img {
  height: 100%;
}

.nameop {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 100px;
  width: 50%;
  opacity: 0;
}

.mob {
  display: none;
}

.grid-container__wrapper {
  margin-bottom: 3px;
  width: 100%;
  grid-gap: 3px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.nameS h1 {
  font-family: "Benzin-ExtraBold";
  font-size: 54px;
  line-height: 140%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 96px;
  margin-top: 108px;
}

.project {
  overflow: hidden;
}
.project img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.project:first-child {
  grid-column: span 2;
  grid-row: span 2;
}
.project:nth-child(8) {
  grid-column: span 2;
  grid-row: span 2;
}

.topText {
  position: absolute;
  z-index: 3;
  top: 190px;
  width: 100vw;
}
.topText h1 {
  font-family: "Benzin-ExtraBold";
  font-size: 54px;
  line-height: 140%;
  letter-spacing: 0.08em;
  margin-bottom: 34px;
  text-transform: uppercase;
}
.topText h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: -0.02em;
  margin-bottom: 13px;
}
.topText li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 170%;
  letter-spacing: -0.02em;
  margin-bottom: 0.5em;
}

.topSwiper__slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.topSwiper {
  height: 83vh;
  margin-bottom: 3px;
}

@media (max-width: 1599px) {
  .container {
    width: calc(100vw - 120px);
  }
  header .container {
    justify-content: space-between;
  }
  .logo {
    margin: 0;
  }
  .bg {
    left: 50%;
    transform: translate(-50%, 50%);
    top: 50%;
  }
  .swiper-slide-active .bg {
    transform: translate(-50%, -50%);
  }
  .swiper-slide-next .bg {
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 999px) {
  .containerSlides {
    width: 90%;
    margin-left: 5%;
  }
  .notMob {
    display: none !important;
  }
  body {
    overflow-x: hidden;
  }
  .mob {
    display: block;
  }
  .container {
    width: 90%;
  }
  .logo {
    height: 18px;
    margin: 0;
    z-index: 102;
  }
  .mob__menu {
    height: 7px;
    width: 40px;
    position: relative;
    transition: all 0.4s ease;
    z-index: 102;
  }
  .mob__menu::after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s ease;
  }
  .mob__menu::before {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background: white;
    position: absolute;
    top: 7px;
    left: 0;
    transition: all 0.4s ease;
  }
  .mob__menu.active::after {
    transform: rotate(45deg);
  }
  .mob__menu.active::before {
    top: 0;
    transform: rotate(-45deg);
  }
  .header__henu {
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 0.8s ease;
    transform: translateY(-100vh);
    background: black;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header__henu.active {
    transform: translateX(0vh);
  }
  .header__henu li {
    font-family: "Benzin-ExtraBold";
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: center;
  }
  .header__henu li:last-child {
    margin-bottom: 0;
  }
  header {
    z-index: 99;
  }
  .name {
    font-size: 22px;
  }
  .slider-name .swiper-slide-active .name, .slider-name-color .swiper-slide-active .name {
    font-size: 29px;
  }
  .slider-name-color {
    transform: translateY(-69%);
  }
  .grid-container__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-container__wrapper .project {
    height: 178px;
  }
  .grid-container__wrapper .project:first-child {
    grid-column: span 1;
    grid-row: span 1;
  }
  .grid-container__wrapper .project:nth-child(8) {
    grid-column: span 1;
    grid-row: span 1;
  }
  .topText {
    top: 170px;
  }
  .topText h1 {
    font-size: 29px;
  }
  .topText h3 {
    font-size: 17px;
  }
  .topText li {
    font-size: 13px;
  }
}
@media (max-width: 639px) {
  .grid-container__wrapper {
    grid-template-columns: 1fr;
  }
  .slider-name-color {
    transform: translateY(-68%);
  }
}/*# sourceMappingURL=style.css.map */