@font-face {
    font-family: 'Benzin-ExtraBold';
    src: url(./../meida/font/benzin-extrabold.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    list-style: none;
}

.cen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background: black;
}

.name {
    font-family: 'Benzin-ExtraBold';
    font-size: 44px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px white;
    width: fit-content;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    opacity:  .6;
    position: relative !important;
    z-index: 123 !important;
    transition: all .8s ease;
    &.active {
        opacity: 1;
        cursor: pointer;
        -webkit-text-fill-color: white;
        & span {
            font-size: 18px;
            line-height: 130%;
            -webkit-text-fill-color: white;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            transition: all .8s ease;
            letter-spacing: -0.02em;
            
        }
    }
    & span {
        font-size: 18px;
        line-height: 130%;
        -webkit-text-fill-color: white;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        margin-top: 11px;
        margin-left: 12px;
        letter-spacing: -0.02em;
        
    }
}

.container {
    width: 1480px;
    height: 100%;
}

.swiper-slide{
    overflow: hidden;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}


.bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    transform: translateY(50vh);
    transition: all .8s ease;
    scale: 1.1;
}

.slider1 {
    height: 100vh;
}

.slides-bottom {
    position: relative;
}
.slides-top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    & .container {
        height: 100px;
        & a {
            position: absolute;
            height:100% ; width:100%;
        }
    }
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.swiper-slide-active {
    & .bg {
        transform: translateY(0);
        scale: 1;
    }
    & .names {
        transform: translateY(0);
    }
}

.swiper-slide-next {
    & .bg {
        transform: translateY(-50vh);
    }
    & .names {
        transform: translateY(-100vh);

    }
}

.names {
    display: flex;
    flex-direction: column;
    transform: translateY(100vh);
    transition: all .8s ease;
}


.containerSlides {
    position: absolute;
    top: 59px;
    width: 100%;
    height: calc(100vh - 59px);
}


.slider-name, .slider-name-color {
    position: absolute !important;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
    max-width: 1480px;
    height: 540px;
    bottom: 0;
    pointer-events: none;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
    & .swiper-slide {
        align-items: flex-start;
    }
    & .swiper-slide-active {
        & .name {
            font-size: 54px;
            & span {
                font-size: 21px;
                letter-spacing: -0.02em;
            }
        }
    }
}

.slider-name-color {
    padding-top: 50px;
    height: 73px;
    transform: translateY(-69%);
    & .name {
        opacity: 1;
        -webkit-text-fill-color: white;
    }
    & .swiper-slide-active {
        & .name {
    -webkit-text-stroke: 0px white;
        }
    }
}

.name-wraper {
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.name-slide {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0;
    background: transparent;
    box-sizing: border-box;
    text-align: left;
    opacity: 1;
    bottom: 0;
}

.swiper-slide {
    & .name {
        &:hover {
            cursor: pointer;

        }
    }
}


header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    & .container {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    & ul {
        display: flex;
    }
    & li {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 135%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        margin-right: 58px;
        &:last-child {
            margin-right: 0;
        }
    }
}

li {
    &.active {
        & a {
            color: #D9FF42;
        }
    }
}

.logo{
    height: 23px;
    margin-right: 148px;
    & img {
        height: 100%;
    }
}

.nameop {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 100px;
    width: 50%;
    opacity: 0;
}

.mob {
    display: none;
}

// страница проектов

.grid-container__wrapper {
    margin-bottom: 3px;
    width: 100%;
    grid-gap: 3px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.nameS {
    & h1 {
        font-family: 'Benzin-ExtraBold';
        font-size: 54px;
        line-height: 140%;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 96px;
        margin-top: 108px;
    }
}

.project {
    overflow: hidden;
    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    &:first-child {
        grid-column: span 2;
        grid-row: span 2;
    }
    &:nth-child(8) {
        grid-column: span 2;
        grid-row: span 2;
    }
}

.topText {
    position: absolute;
    z-index: 3;
    top: 190px;
    width: 100vw;
    & h1 {
        font-family: 'Benzin-ExtraBold';
        font-size: 54px;
        line-height: 140%;
        letter-spacing: 0.08em;
        margin-bottom: 34px;
        text-transform: uppercase;
    }
    & h3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 130%;
        letter-spacing: -0.02em;
        margin-bottom: 13px;
    }
    & li {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 170%;
        letter-spacing: -0.02em;
        margin-bottom: .5em;
    }
}

.topSwiper__slide {
    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}


.topSwiper {
    margin-bottom: 5px;
}

@media (max-width: 1000px) {
    .container {
        width: 940px;
    }
    header {
        & .container {
            justify-content: space-between;
        }
    }
    .logo {
        margin: 0;
    }
    .bg {
        left: 50%;
        transform: translate(-50%, 50vh);
        top: 50%;
    }
    .swiper-slide-active .bg {
        transform: translate(-50%, -50%);

    }
    .swiper-slide-next .bg {
        transform: translate(-50%, -150vh);

    }
}

@media (max-width: 640px) {
    .containerSlides {
        width: 90%;
        margin-left: 5%;
    }
    .notMob {
        display: none !important;
    }
    body {
        overflow-x: hidden;
    }
    .mob {
        display: block;
    }
    .container {
        width: 90%;
    }
    .logo {
        height: 18px;
        margin: 0;
        z-index: 102;
    }
    .mob__menu {
        height: 7px;
        width: 40px;
        position: relative;
        transition: all .4s ease;
        z-index: 102;
        &::after {
            content: '';
            display: block;
            width: 40px;
            height: 2px;
            background: white;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .4s ease;
        }
        &::before {
            content: '';
            display: block;
            width: 40px;
            height: 2px;
            background: white;
            position: absolute;
            top: 7px;
            left: 0;
            transition: all .4s ease;
        }
        &.active {
            &::after {
                transform: rotate(45deg);
            }
            &::before {
                top: 0;
                transform: rotate(-45deg);
            }
        }

    }
    .header__henu {
        position: absolute;
        top: 0px;
        left: 0px;
        transition: all .8s ease;
        transform: translateY(-100vh);
        background: black;
        z-index: 10;
        width: 100vw;
        height: 100vh;
        &.active {
            transform: translateX(00vh);
            
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & ul {

        }
        & li {
            font-family: 'Benzin-ExtraBold';
            font-size: 22px;
            line-height: 140%;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 20px;
            text-align: center;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    header {
        z-index: 99;
    }

    .name {
        font-size: 22px;
    }
    .slider-name .swiper-slide-active .name, .slider-name-color .swiper-slide-active .name {
        font-size: 29px;
    }
    .slider-name-color {
        transform: translateY(-65%);
    }

    .grid-container__wrapper {
        grid-template-columns: repeat(2, 1fr);
        & .project {
            height: 178px;
            &:first-child {
                grid-column: span 1;
                grid-row: span 1;
            }
            &:nth-child(8) {
                grid-column: span 1;
                grid-row: span 1;
            }
        }
    }
    .topText  {
        top: 170px;
        & h1 {
            font-size: 29px;
        }
        & h3 {
            font-size: 17px;
        }
        & li {
            font-size: 13px;
        }
    }
    .topSwiper {
        height: 100vh;
        & .swiper-slide {
            & img {

            }
        }
    }
}

@media (max-width: 320px) {
    .grid-container__wrapper{
        grid-template-columns: 1fr;
    }
}