@font-face {
    font-family: 'Benzin-ExtraBold';
    src: url(./../meida/font/benzin-extrabold.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    list-style: none;
}

a {
    &.active {
        color: #D9FF42
    }
}

body::-webkit-scrollbar {
    display: none;            /* ширина scrollbar */
  }
  body::-webkit-scrollbar-track {
    display: none;           /* цвет дорожки */
  }
  body::-webkit-scrollbar-thumb {
    display: none;         
  }

.header__henu {
    & a {
        transition: all .4s ease;
        &:hover {
            color: #D9FF42
        }
    }

}


.cen {
    display: flex;
    flex-direction: column;
    position: relative;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background: black;
}

.name {
    font-family: 'Benzin-ExtraBold';
    font-size: 44px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px white;
    width: fit-content;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    opacity: .6;
    position: relative !important;
    z-index: 123 !important;
    transition: all .8s ease;

    &.active {
        opacity: 1;
        cursor: pointer;
        -webkit-text-fill-color: white;

        & span {
            font-size: 18px;
            line-height: 130%;
            -webkit-text-fill-color: white;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            transition: all .8s ease;
            letter-spacing: -0.02em;

        }
    }

    & span {
        font-size: 18px;
        line-height: 130%;
        -webkit-text-fill-color: white;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        margin-top: 11px;
        margin-left: 12px;
        letter-spacing: -0.02em;

    }
}

.container {
    width: calc(100vw - 120px);
    height: 100%;
    margin-left: 60px;
}

.swiper-slide {
    overflow: hidden;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}


.bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    transform: translateY(50vh);
    transition: all .8s ease;
    scale: 1.1;
}

.slider1 {
    height: 100vh;
}

.slides-bottom {
    position: relative;
}

.slides-top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;

    & .container {
        height: 100px;

        & a {
            position: absolute;
            height: 100%;
            width: 100%;
        }
    }
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.swiper-slide-active {
    & .bg {
        transform: translateY(0);
        scale: 1;
    }

    & .names {
        transform: translateY(0);
    }
}

.swiper-slide-next {
    & .bg {
        transform: translateY(-50vh);
    }

    & .names {
        transform: translateY(-100vh);

    }
}

.names {
    display: flex;
    flex-direction: column;
    transform: translateY(100vh);
    transition: all .8s ease;
}


.containerSlides {
    position: absolute;
    top: 59px;
    height: calc(100vh - 59px);
    width: calc(100vw - 120px);
    margin: 0 60px;
}


.slider-name,
.slider-name-color {
    position: absolute !important;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0 50px;
    box-sizing: border-box;
    max-width: 1480px;
    height: 540px;
    bottom: 0;
    pointer-events: none;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);

    & .swiper-slide {
        align-items: flex-start;
    }

    & .swiper-slide-active {
        & .name {
            font-size: 54px;

            & span {
                font-size: 21px;
                letter-spacing: -0.02em;
            }
        }
    }
}

.slider-name-color {
    padding-top: 50px;
    height: 110px;
    margin: 0;
    transform: translateY(-45%);

    & .name {
        opacity: 1;
        -webkit-text-fill-color: white;
    }

    & .swiper-slide-active {
        & .name {
            -webkit-text-stroke: 0px white;
        }
    }
}

.name-wraper {
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.name-slide {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0;
    background: transparent;
    box-sizing: border-box;
    text-align: left;
    opacity: 1;
    bottom: 0;
}

.swiper-slide {
    & .name {
        &:hover {
            cursor: pointer;

        }
    }
}

.header__henu {
    padding-top: 6px;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 29px 0 35px 0;
    display: flex;
    flex-direction: column;
    z-index: 99;
    transition: all .4s ease;
    transform: translateY(-100%);

    &.bgTrue {
        background: #050505;

    }

    &.active {
        transform: translateY(0);
    }

    & .container {

        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    & ul {
        display: flex;
    }

    & li {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 135%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        margin-right: 60px;

        &:last-child {
            margin-right: 0;
        }
    }
}

li {
    &.active {
        & a {
            color: #D9FF42;
        }
    }
}

.logo {
    height: 23px;

    & img {
        height: 100%;
    }
}

.nameop {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 100px;
    width: 50%;
    opacity: 0;
}

.mob {
    display: none;
}

// страница проектов

.grid-container__wrapper {
    margin-bottom: 3px;
    width: 100%;
    grid-gap: 3px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-height: 0;
    transition: all 2s ease;
    overflow: hidden;

    &.active {
        max-height: 2000px;
    }
}

.nameS {
    & h1 {
        font-family: 'Benzin-ExtraBold';
        font-size: 54px;
        line-height: 140%;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 96px;
        margin-top: 108px;
    }
}

.project {
    overflow: hidden;
    position: relative;

    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: all .4s ease;
    }

    &:first-child {
        grid-column: span 2;
        grid-row: span 2;
    }

    &:nth-child(8) {
        grid-column: span 2;
        grid-row: span 2;
    }

    &:hover {
        & img {
            scale: 1.1;
        }

        & .product__hover {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: #D9FF42;
            opacity: .6;
        }

        & .nameprod {
            opacity: 1;
            & a {
                width: 100%;
                &:last-child {
                    height: 23px;

                }
            }
        }
    }

    & .nameprod {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all .4s ease;
        display: flex;
        flex-direction: column;
        align-items: center;

        & a {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 105%;
            text-align: center;
            letter-spacing: -0.02em;
            text-transform: capitalize;
            margin-bottom: 7px;
            width: 0%;
            transition: all .4s ease;
            transition-delay: .1s;
            overflow: hidden;

            &:last-child {
                font-weight: 500;
                font-size: 17px;
                line-height: 135%;
                text-align: center;
                text-transform: capitalize;
                letter-spacing: -0.02em;
                margin-bottom: 0;
                transition: all .5s ease;
                transition-delay: .4s;
            }
        }
    }

    & .product__hover {
        transition: all .4s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #333333;
        opacity: 0;
    }
}

.topText {
    position: absolute;
    z-index: 3;
    width: 100vw;
    height: 95vh;

    & h1 {
        font-family: 'Benzin-ExtraBold';
        font-size: 54px;
        line-height: 140%;
        letter-spacing: 0.08em;
        margin-bottom: 34px;
        text-transform: uppercase;
    }

    & h3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 130%;
        letter-spacing: -0.02em;
        margin-bottom: 19px;
    }

    & li {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        margin-bottom: 20px;
        letter-spacing: -0.02em;
        margin-bottom: .5em;
    }
}

.topSwiper__slide {
    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}


.topSwiper {
    height: 95vh;
    margin-bottom: 3px;
}

.plus {
    height: 20px;
    width: 20px;
}

.btnNextBlock {
    display: flex;
    align-items: center;
    margin-top: 98px;
    margin-bottom: 208px;
    width: fit-content;
    &:hover {
        cursor: pointer;
        & p {
            color: #D9FF42;

        }

        & .plus {
            &::after {
                background: #D9FF42;
            }
            &::before {
                background: #D9FF42;
            }
    
        }
    }
    & p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        letter-spacing: -0.02em;
        transition: all .4s ease;
        color: #FFFFFF;
    }

    & .plus {
        position: relative;
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 30px;
        &::after {
            content: '';
            display: block;
            position: absolute;
            background: white;
            height: 100%;
            width: 2px;
            transition: all .4s ease;
        }
        &::before {
            content: '';
            display: block;
            position: absolute;
            background: white;
            width: 100%;
            height: 2px;
            transition: all .4s ease;
        }

    }
    &.active {
        & .plus {
            animation: rotatePlus .3s ;
        }
    }
}

@keyframes rotatePlus {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

footer {
    & .container {
        flex-direction: row;
        justify-content: space-between;
    }

    & a {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 135%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #444444;
        margin-bottom: 36px;
        margin-right: 59px;
        transition: all .4s ease;
        &:hover {
            cursor: pointer;
            color: #D9FF42;
        }

        &:last-child {
            margin-right: 0;
        }
        &.active {
            color: #D9FF42;

        }
    }
}

.projectTop {
    height: 83vh;
    overflow: hidden;

    & .bg {
        height: 100%;
        width: 100%;
        top: 50%;
        left: 50%;
        object-fit: cover;
        transform: translate(-50%, -50%);
        opacity: .6;
    }

    & h1 {
        font-family: 'Benzin-ExtraBold';
        font-size: 54px;
        line-height: 140%;
        letter-spacing: 0.08em;
        text-transform: uppercase;
    }

    & p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 130%;
        letter-spacing: -0.02em;
    }
}

.progectGrid {
    margin-top: 3px;
    margin-bottom: 215px;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(2, 1fr);

}

.project__item {
    position: relative;
    height: 449px;

    & img {
        opacity: .9;
        height: 100%;
        width: 100%;
        object-fit: cover;

    }
}

.bgHeref {
    opacity: 0;
    transition: all .4s ease;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: block;
    background: #D9FF42;

    &:hover {
        opacity: .4;
    }

    & .play {
        position: absolute;
        z-index: 12;
    }
}

main {
    width: 100vw;
    overflow-x: hidden;
}

.aboutDeals  {
    margin-bottom: 145px;
}

.nameab {

    font-family: 'Benzin-ExtraBold';
    font-size: 54px;
    line-height: 140%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin-bottom: 86px;
}

.descab {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: -0.02em;
    margin-bottom: 93px;
    width: 880px;

}

.aboutTop {
    margin-bottom: 197px;
    margin-top: 191px;
}

.aboutTop__flex {
    display: flex;

    & p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 135%;
        letter-spacing: -0.02em;
        width: 607px;
        color: #444444;
        margin-right: 50px;
        &:last-child {
            margin-right: 0;
        }

    }
}

.aboutDeals__flex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.item__name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 135%;
    letter-spacing: -0.02em;

    & span {
        margin-right: 17px;
    }
}

.aboutDeals__flex__item {
    margin-right: 76px;
    margin-bottom: 52px;
    width: fit-content;
    & .itemdesc {
        margin-top: 22px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 170%;
        letter-spacing: -0.02em;
        color: #444444;
    }
}

.aboutAwards {
    margin-bottom: 197px;
}

.awards__flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    width: 100%;
    border-top: 1px solid #333333;
    padding-top: 24px;
    margin-bottom: 52px;
    &:last-child {
        margin-bottom: 0;
    }

}

.awards__flex__item {
    display: flex;
    align-items: flex-end;
    &:nth-child(2) {
    }

    & p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        letter-spacing: -0.02em;
        position: relative;
    }

    &:first-child {
        left: 0px;

        & p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
        }
    }

    &:last-child {
        left: 1134px;

        & p {
            font-style: normal;
            font-size: 17px;
            color: #444444;
        }
    }
}

.video {
    width: 100vw;
    position: relative;
    height: 100vh;

    & video {
        width: 100%;
        height: 100%;
    }
}

//видео плеер 

.video-js .vjs-big-play-button {
    width: 100%;
    height: 100%;
    border: none;
    background: black;
    opacity: .6;
    top: 0;
    left: 0;

}

.video-js:hover .vjs-big-play-button,
.video-js .vjs-big-play-button:focus {
    width: 100%;
    height: 100%;
    border: none;
    background: black;
    opacity: .6;
    top: 0;
    left: 0;

}


.vjs-icon-play:before,
.video-js .vjs-play-control .vjs-icon-placeholder:before,
.video-js .vjs-big-play-button .vjs-icon-placeholder::before {
    content: url(./../meida/video/pleer/ppay.svg);
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .4s ease;
}

.vjs-icon-pause:before,
.video-js .vjs-play-control.vjs-playing .vjs-icon-placeholder:before {
    content: '';
}

.video-js[tabindex="-1"] {
    width: 100%;
    height: 100%;
}

.video-js .vjs-play-control {
    background: #44444481;
    position: absolute;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    left: -60px;

}

.vjs-play-control {
    &.vjs-playing {
        background: none;

    }
}

.video-js .vjs-volume-level {
    background: #D9FF42;
}

.vjs-slider-horizontal .vjs-volume-level:before,
.video-js .vjs-play-progress:before {
    color: #D9FF42;

}

.video-js .vjs-play-progress {
    background: #D9FF42;
}


.video-js .vjs-mute-control:hover {
    & .vjs-icon-placeholder:before {
        color: #D9FF42;
    }
}

.video-js .vjs-volume-panel.vjs-volume-panel-horizontal.vjs-hover {
    &::before {}
}

.video-js .vjs-progress-control {
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
}

.vjs-has-started .vjs-control-bar, .vjs-audio-only-mode .vjs-control-bar {
    width: calc(100vw - 120px);
    left: 50%;
    transform: translateX(-50%);
}

.video-js .vjs-picture-in-picture-control {
    display: none;
}

.videoslider {
    height: auto;
}

.video-js .vjs-volume-panel {
    position: absolute;
    bottom: 35px;
    right: 30px;

}

.video-js .vjs-fullscreen-control {
    position: absolute;
    bottom: 35px;
    right: 0px;
}

.videoslider {
    & .thisVideo {
        position: relative;
        margin: 0 7px;
        overflow: visible;
        aspect-ratio: 16 / 9;
        width: 234px;

        & img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        &::after {
            box-sizing: border-box;
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 137px;
            width: 234px;
            border: 2px #D9FF42 solid;
        }
    }
}

$remsize:  calc(100vw / 1600px * 10);



.thisWraper {
    align-items: center;
}

.videoWraper {
    padding: 66px 0;
}

.videobg {
    width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    color: white !important;
}


.vjs-has-started .vjs-control-bar,
.vjs-audio-only-mode .vjs-control-bar {
    background: none;
}

.closeBtn {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 60px;
    right: 60px;
    cursor: pointer;

}

.clients {
    margin-bottom: 215px;
}

.clients__wraper {
    display: flex;
    flex-wrap: wrap;
}

.clients__wraper__item {
    aspect-ratio: 1/1;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333333;
    &:nth-child(1) {
        border-left: none;

    }
    &:nth-child(6n) {
        border-left: none;

    }
    &:nth-child(5n) {
        border-right: none;

    }
    &:nth-child(10n) {
        border-right: none;

    }
    & img {
        height: 144px;
    }
}

@media (max-width: 1400px) {

    .container {
        width: calc(100vw - 120px);
    }

    header {
        & .container {
            justify-content: space-between;
        }
    }

    .logo {
        margin: 0;
    }

    .bg {
        left: 50%;
        transform: translate(-50%, 50%);
        top: 50%;
    }

    .swiper-slide-active .bg {
        transform: translate(-50%, -50%);

    }

    .swiper-slide-next .bg {
        transform: translate(-50%, -150%);

    }

    .project__item {
        height: 279px;
    }

    .videobg {
        height: 77px;
    }

    .awards__flex__item {
        left: 489px;
    }

    .awards__flex__item:last-child {
        left: 489px;
        top: 71px;

    }

    .awards__flex {
        margin-bottom: 121px;
    }
    
    .videoslider {
        & .thisVideo {
            &::after {
                height: 87px;
                width: 149px;
            }
        }
    }

    .clients__wraper__item {
        width: 25%;
        &:first-child {
            border-left: none;
    
        }
        &:nth-child(5n) {
            border-left: none;
    
        }
        &:nth-child(4n) {
            border-right: none;
    
        }
        &:nth-child(8n) {
            border-right: none;
    
        }
        &:nth-child(6n) {
            border: 1px solid #333333;

        }
        &:nth-child(9n) {
            border-left: none;

        }
        &:nth-child(10n) {
            border: 1px solid #333333;

        }
        & img {
            height: 110px;
        }
    }

}

@media (max-width: 999px) {

    .btnNextBlock {
        margin-bottom: 168px;
        margin-top: 80px;
    } 

    .bg {
        scale: 1;
        height: 100%;
    }

    .containerSlides {
        width: calc(100vw - 20px);
        margin-left: 10px;
    }

    .notMob {
        display: none !important;
    }

    body {
        overflow-x: hidden;
    }

    .mob {
        display: block;
    }

    .container {
        margin-left: 11px;
        width: calc(100vw - 40px);
    }

    .logo {
        height: 23px;
        margin: 0;
        z-index: 102;
    }

    .mob__menu {
        height: 7px;
        width: 40px;
        position: relative;
        transition: all .4s ease;
        z-index: 102;

        &::after {
            content: '';
            display: block;
            width: 40px;
            height: 2px;
            background: white;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .4s ease;
        }

        &::before {
            content: '';
            display: block;
            width: 40px;
            height: 2px;
            background: white;
            position: absolute;
            top: 7px;
            left: 0;
            transition: all .4s ease;
        }

        &.active {
            &::after {
                transform: rotate(45deg);
            }

            &::before {
                top: 0;
                transform: rotate(-45deg);
            }
        }

    }

    .header__henu {
        position: fixed;
        top: 0px;
        left: 0px;
        transition: all .8s ease;
        z-index: 10;
        width: 100vw;
        height: 0;
        overflow: hidden;
        transition-delay: 1s;
        & a {
            font-size: 29px;
        }

        & .blockAnim {
            position: absolute;
            top: 0;
            right: 0;
            background: black;
            transition: all 2s ease;
            opacity: .9;
            width: 1px;
            height: 1px;
            border-radius: 50%;
            transform: translate(50%, -50%);
        }

        &.active {
            transition-delay: 0s;
            transform: translateX(0vh);
            height: 100vh;

            & .blockAnim {
                width: 300vh;
                height: 300vh;
            }

            & ul {
                opacity: 1;
                transition: opacity .9s ease;
                transition-delay: .7s;
            }
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & ul {
            position: relative;
            z-index: 3;
            opacity: 0;
            transition: opacity .3s ease;
            transition-delay: .2s;
        }

        & li {
            font-family: 'Benzin-ExtraBold';
            font-size: 22px;
            line-height: 140%;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-top: 20px;
            text-align: center;
            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-top: 70px;
            }
        }
    }

    header {
        z-index: 99;
    }

    .name {
        font-size: 29px;
    }

    .slider-name .swiper-slide-active .name,
    .slider-name-color .swiper-slide-active .name {
        font-size: 37px;
    }

    .slider-name-color {
        transform: translateY(-69%);
    }

    .grid-container__wrapper {
        grid-template-columns: repeat(2, 1fr);

        & .project {
            height: calc(100vw/16 * 9);

            &:first-child {
                grid-column: span 1;
                grid-row: span 1;
            }

            &:nth-child(8) {
                grid-column: span 1;
                grid-row: span 1;
            }
        }
    }

    .grid-container__wrapper.active {
        max-height: 3000px;
    }

    .name span {
        margin-top: 0;
        margin-left: 19px;
    }

    .topText {

        & h1 {
            font-size: 37px;
            margin-bottom: 23px;
        }

        & h3 {
            font-size: 22px;
            margin-bottom: 7px;
        }

        & li {
            font-size: 17px;
            margin-bottom: 5px;
        }
    }

    .topSwiper {
        & .swiper-slide {
            & img {}
        }
    }

    .project__item {
        height: 178px;
    }

    footer {
        margin-bottom: 36px;

        & a {
            margin-right: 35px;
        }
    }


    .videobg {
        height: 68px;
    }

    .nameab {
        font-size: 37px;
        line-height: 120%;
        letter-spacing: 0.08em;
        margin-bottom: 94px;
    }

    .descab {
        width: auto;
        font-size: 22px;
        margin-bottom: 75px;
    }

    .aboutTop__flex {
        flex-direction: column;
        margin-bottom: 171px;
        & p {
            margin-bottom: 32px;
            font-size: 17px;
            width: auto;
            margin-right: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .aboutTop {
        margin-bottom: 0;
    }

    .aboutDeals__flex__item {
        margin-right: 0;
        & ul {
            font-size: 17px;
        }
    }

    .awards__flex {
        height: 112px;
        margin-bottom: 90px;
    }

    .awards__flex__item {
        top: 24px;
        position: absolute;
        left: 310px;
        &:last-child {
            left: 310px;
        }
        &:first-child {
            & p {
                font-size: 22px;
            }
        }
    }

    .item__name {
        font-size: 17px;
    }

    
    .videoslider {
        & .thisVideo {
            &::after {
                height: 80px;
                width: 130px;
            }
        }
    }

    .aboutDeals__flex {
        grid-template-columns: repeat(2, 1fr);
    }

    
    .clients__wraper__item {
        width: 33.33%;
        &:first-child {
            border-left: none;
    
        }
        &:nth-child(5n) {
            border: 1px solid #333333;
    
        }
        &:nth-child(4n) {
            border: 1px solid #333333;
    
        }
        &:nth-child(8n) {
            border: 1px solid #333333;
    
        }
        &:nth-child(6n) {
            border: 1px solid #333333;

        }
        &:nth-child(9n) {
            border: 1px solid #333333;

        }
        &:nth-child(10n) {
            border: 1px solid #333333;

        }
        &:nth-child(3n) {
            border-right: none;
    
        }
        &:nth-child(3n+1){
            border-left: none;

        }
        & img {
            height: 110px;
        }
    }

}

@media (max-width: 639px) {
    .aboutDeals__flex {
        grid-template-columns: repeat(1, 1fr);
    }

    .container {
        width: calc(100vw - 20px);
    }
    .grid-container__wrapper {
        grid-template-columns: 1fr;
    }

    .slider-name-color {
        transform: translateY(-47%);
    }

    .progectGrid {
        grid-template-columns: 1fr;
    }

    .videobg {
        height: 63px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        font-size: 12px;
    }

    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after,
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
        font-size: 27px !important;
    }
    
    .aboutTop {
        margin-top: 177px;
    }

    .nameab {
        font-size: 37px;
        line-height: 140%;
        word-wrap: break-word;
        margin-bottom: 67px;

    }

    .awards__flex {
        margin-bottom: 85px;
        grid-template-columns: 1fr;
    }

    .awards__flex__item {
        left: 0;
        top: 95px;
        margin-bottom: 10px;
        &:last-child {
            left: 0;
            margin-bottom: 0;
            top: 127px;
            & p {
                left: 0;
            }
        }
        &:first-child {
            top: 36px;
            margin-bottom: 30px;
        }
    }

    .videoslider {
        & .thisVideo {
            &::after {
                height: 72px;
                width: 122px;
            }
        }
    }
    
    .clients__wraper__item {
        width: 50%;
        &:nth-child(3n) {
            border: 1px solid #333333;
    
        }
        &:nth-child(3n+1){
            border: 1px solid #333333;

        }
        &:nth-child(odd) {
            border-left: none;
        }
        &:nth-child(even) {
            border-right: none;
        }
        & img {
            height: 110px;
        }
    }

    footer {
        a {
            margin-bottom: 9px;
            position: relative;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}